<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name ="funcblobtest" connectionString="DefaultEndpointsProtocol=https;AccountName=funcblobtest;AccountKey=PPocWgEhsq6NqvfTLfg+2rAsuID17vyMR1ryxyTTdF0whmcaQloYIoGAWlyygLU44oDnBQ97h7HInmJU68hMsw==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  <appSettings>
    <add key="testing" value="C://Users//Nikkitha//Desktop//testing"/>
    <add key="functiontest" value="demoblobs"/>
  </appSettings>
</configuration>