<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target xsi:type="AzureBlobStorage"
            name="error"
            blobName="Error-${shortdate}.json"
            container="logs"
            connectionString="DefaultEndpointsProtocol=https;AccountName=funcblobtest;AccountKey=PPocWgEhsq6NqvfTLfg+2rAsuID17vyMR1ryxyTTdF0whmcaQloYIoGAWlyygLU44oDnBQ97h7HInmJU68hMsw==;EndpointSuffix=core.windows.net">
   <!-- <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" /> -->
  </target>


    <target xsi:type="AzureBlobStorage"
            name="info"
            blobName="Info-${shortdate}.json"
            container="logs"
            connectionString="DefaultEndpointsProtocol=https;AccountName=funcblobtest;AccountKey=PPocWgEhsq6NqvfTLfg+2rAsuID17vyMR1ryxyTTdF0whmcaQloYIoGAWlyygLU44oDnBQ97h7HInmJU68hMsw==;EndpointSuffix=core.windows.net">
         </target>


    <target xsi:type="AzureBlobStorage"
            name="trace"
            blobName="Trace-${shortdate}.json"
            container="logs"
            connectionString="DefaultEndpointsProtocol=https;AccountName=funcblobtest;AccountKey=PPocWgEhsq6NqvfTLfg+2rAsuID17vyMR1ryxyTTdF0whmcaQloYIoGAWlyygLU44oDnBQ97h7HInmJU68hMsw==;EndpointSuffix=core.windows.net">
          </target>


    <target xsi:type="AzureBlobStorage"
            name="critical"
            blobName="Fatal-${shortdate}.json"
            container="logs"
            connectionString="DefaultEndpointsProtocol=https;AccountName=funcblobtest;AccountKey=PPocWgEhsq6NqvfTLfg+2rAsuID17vyMR1ryxyTTdF0whmcaQloYIoGAWlyygLU44oDnBQ97h7HInmJU68hMsw==;EndpointSuffix=core.windows.net">
          </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Fatal" writeTo="critical" />
  </rules>
</nlog>